* {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    gap: 50px;
}

.container h1 {
    margin-top: 40px;
}

.container .players {
    display: flex;

    gap: 20px;
}

.container .players label {
    font-size: 1.2rem;
    font-weight: 500;
}

.container .players input {
    height: 20px;

    font-size: 1rem;

    text-align: center;

    border: 2px solid black;
    border-radius: 10px;
}

.container .players input:focus {
    outline: none;
}

.container .gameboard {
    padding: 10px;

    border-radius: 10px;

    background-color: rgb(120, 120, 255);

    display: grid;

    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);

    gap: 10px;
}

.container .gameboard .square {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 4rem;

    padding: 40px;

    border: 2px solid black;

    border-radius: 5px;

    background-color: white;
}

.container .status {
    font-size: 1.5rem;
    font-weight: 700;
}

.container .restartBtn {
    width: 200px;
    height: 50px;

    background-color: rgb(120, 120, 255);
    color: white;

    font-size: 1.2rem;
    font-weight: 600;

    border: none;
    border-radius: 10px;
}